.message h1,p {
    color: rgb(215, 179, 134);
    font-weight: bold;
}

.formulario {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;
    color:#050300;
}
.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: rgb(106, 149, 87) thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: rgb(5, 5, 5);
}

.formulario :placeholder-shown {
    color:#251002;
}
.formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #0a0a0a;
}
.formulario {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    margin-top: 54px;
    background-color: rgba(166, 162, 162, 0.602);
    text-align: center;
    color:#251002;
  
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border-icon:hover {
    background-color: #816c32;
    cursor: pointer;
}

.cuenta-gratis {
    padding: 2rem 0;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-top:30px;
    margin-bottom: 2rem;
    background-color: rgb(253, 250, 250);
    border: none;
    border-bottom: rgb(43, 21, 5) thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: rgb(5, 5, 5);
}

.formulario ::placeholder {
    color:#251002;
}
.formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #0a0a0a;
}






